.instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__logo {
    width: 400px;
    padding-top: 1rem;
  }

  ul {
    list-style: none;
  }
  li {
    display: inline;
    padding: 1px 3px;
  }
}
